.main {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  &__wrapper {
    padding: 80px 0 110px;
  }
  &__views {
    display: flex;
    &__img img {
      max-width: 582px;
      width: 582px;
      max-height: 400px;
      object-fit: contain;
    }
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 24px;
      position: relative;
      &:after {
        content: '';
        width: 100%;
        height: 1px;
        background-color: #EBEBEB;
        position: absolute;
        bottom: -16px;
        left: 0;
      }
      h2 {
        margin: 24px 0 16px;
        font-family: 'Playfair Display', serif;
        font-size: 32px;
        line-height: 40px;
        color: #242424;
      }
      p {
        line-height: 26px;
        color: #8C8C8C;
      }
    }

    &__user-content {
      display: flex;
      align-items: center;
      margin-top: 20px;
    }
  }
  &__popular {
    &-title {
      margin: 96px 0 56px;
      font-family: Playfair Display;
      line-height: 48px;
      color: #242424;
    }
    &-list {
      &__item {
        display: flex;
        margin-bottom: 40px;
        &-img img{
          max-width: 367px;
          max-height: 260px;
          width: 367px;
          height: 260px;
          object-fit: contain;
        }
        &-content {
          width: 100%;
          margin-left: 24px;
          position: relative;
          &:after {
            content: '';
            width: 100%;
            height: 1px;
            background-color: #EBEBEB;
            position: absolute;
            bottom: 24px;
            left: 0;
          }
          h2 {
            margin: 24px 0 16px;
            font-family: Playfair Display;
            font-size: 32px;
            line-height: 32px;
            color: #242424;
          }
          p {
            margin-bottom: 24px;
            line-height: 24px;
            color: #8C8C8C;
          }
        }
        &-user {
          display: flex;
          align-items: center;
        }
      }
    }
  }
  &__pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-btn {
      padding: 16px 32px ;
      font-size: 16px;
      line-height: 15px;
      color: #242424;
      background-color: #fff;
      border: 1px solid #242424;
      cursor: pointer;
    }
  }
  &__no-articles {
    display: flex;
    flex: 1;
    h1 {
      text-align: center;
    }
  }
}