.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 80px 0;
  &__form {
    display: flex;
    &-avatar {
      margin-right: 30px;
      padding: 10px;
      background: #FBFBFB;
      &__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 58px 90px;
        border: 1px solid #F2F2F2;
      }
      &__img {
        width: 124px;
        height: 124px;
        border-radius: 50%;
        object-fit: contain;
        margin-bottom: 32px;
      }
      &__input {
        display: none;
      }
      &__label {
        margin-bottom: 24px;
        padding: 16px 32px;
        white-space: nowrap;
        line-height: 16px;
        color: #242424;
        border: 1px solid #242424;
        cursor: pointer;
      }
      &__btn {
        font-size: 16px;
        line-height: 16px;
        background: none;
        color: #242424;
        border: none;
        text-decoration-line: underline;
        cursor: pointer;
      }
    }
    &-info {
      width: 665px;
      &__block:not(:nth-child(3)) {
        display: flex;
        margin-bottom: 32px;
        p {
          display: flex;
          flex-direction: column;
          position: relative;
        }
      }
      &__error {
        font-size: 11px;
        line-height: 14px;
        color: #CF4949;
        position: absolute;
        bottom: -15px;
        left: 0;
      }
      &__label {
        margin-bottom: 12px;
        font-size: 14px;
        line-height: 14px;
        color: #242424;
      }
      &__input {
        border: 1px solid #E1E1E1;
        padding: 15px;
        width: 315px;
        margin-right: 30px;
      }
      &__textarea {
        width: 664px;
        height: 155px;
        padding: 15px;
        resize: none;
        border: 1px solid #E1E1E1;
      }
      &__btn {
        margin-top: 16px;
        padding: 16px 32px;
        background: #242424;
        font-size: 16px;
        line-height: 16px;
        color: #FFFFFF;
        border: none;
        cursor: pointer;
      }
    }
  }
}