.header {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;
    }
    &__btn {
        font-size: 16px;
        line-height: 15px;
        color: #242424;
        background-color: #fff;
        padding: 15px 32px;
        border: 1px solid #000;
        cursor: pointer;
    }
    &__link:nth-child(2) {
        margin-left: 25px;
        button {
            color: #fff;
            background-color: #242424;
        }
    }
    &__user {
        display: flex;
        align-items: center;

        &-list {
            display: flex;
        }
        &-item {
            margin-right: 40px;
            font-size: 15px;
            line-height: 15px;
            color: #8C8C8C;
            cursor: pointer;
        }
    }
}

.item_active {
    color: #242424;
    position: relative;
}
.item_active:before {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #242424;
}
